#page {
  display: flex;
}

#main {
  flex: none;
  width: 75%
}

#side {
  flex: none;
  width: 25%;
}

#popularVideo {
  border-top: 2px solid black;
  margin-left: 20px;
  margin-bottom: 20px;
}

#hotNews {
  border-top: 2px solid black;
  margin-left: 20px;
  margin-bottom: 20px;
}

#hotShare {
  border-top: 2px solid black;
  border-bottom: 1px solid black;
  margin-left: 20px;
  margin-bottom: 20px;
}

#hotNewsContent {
  display: flex;
  border-top: 1px solid black;
}

p.sideNum {
  flex: none;
  width: 20%;
  color: red;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  align-items: flex-start;
  margin-top: 16px;
}

p.sideWord {
  flex: none;
  width: 80%;
  text-overflow: clip;
}

#background {
  background-color: #F0F0F0;
  padding: 3px 10px 5px;
}

.center {
  text-align: center;
}

#content {
  background-color: white;
  padding: 5px 20px 5px;
}

#video {
  text-align: center;
}

a:link,
a:visited {
  background-color: #ffcbb3;
  color: grey;
}

a:hover,
a:active {
  color: red;
}

span {
  color: grey;
}

h3 {
  letter-spacing: 3px;
}

#related {
  background-color: #F0F0F0;
}

li {
  font-weight: bold;
  line-height: 36px;
}

#list {
  color: #ff3838;
  text-decoration: underline;
}

#key {
  background-color: #F0F0F0;
  padding: 5px;
  margin: 10px;
}

#option {
  color: black;
  padding: 10px;
}

h3.sidebarTitle {
  color: red;
}