#page {
  display: flex;
}

#main {
  flex: none;
  width: 75%
}

#side {
  flex: none;
  width: 25%;
}

#popularVideo {
  padding-left: 20px;
}

#background {
  background-color: #F0F0F0;
  padding: 3px 10px 5px;
}

.center {
  text-align: center;
}

#content {
  background-color: white;
  padding: 5px 20px 5px;
}

#video {
  text-align: center;
}

a:link,
a:visited {
  background-color: #ffcbb3;
  color: grey;
}

a:hover,
a:active {
  color: red;
}

span {
  color: grey;
}

h3 {
  letter-spacing: 3px;
}

#related {
  background-color: #F0F0F0;
}

li {
  font-weight: bold;
  line-height: 36px;
}

#list {
  color: #ff3838;
  text-decoration: underline;
}

#key {
  background-color: #F0F0F0;
  padding: 5px;
  margin: 10px;
}

#option {
  color: black;
  padding: 10px;
}

h3.sidebarTitle {
  color: red;
}